/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------
- Set box sizing
-------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*-------------------------------------
- Grid
-------------------------------------*/

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	display: inline-block;
	float: left;
	position: relative;	
	min-height: 10px;
	margin-left: 2%;
}

.col:first-child {
	margin-left: 0;
}

.span-1 { width: 6.5%; }
.span-2 { width: 15%; }
.span-3 { width: 23.5%; }
.span-4 { width: 32%; }
.span-5 { width: 40.5%; }
.span-6 { width: 49%; }
.span-7 { width: 57.5%; }
.span-8 { width: 66%; }
.span-9 { width: 74.5%; }
.span-10 { width: 83%; }
.span-11 { width: 91.5%; }
.span-12 { width: 100%; }

.offset-1 { margin-left: 10.5% !important; }
.offset-2 { margin-left: 19% !important; }
.offset-3 { margin-left: 27.5% !important; }
.offset-4 { margin-left: 36% !important; }
.offset-5 { margin-left: 44.5% !important; }
.offset-6 { margin-left: 53% !important; }
.offset-7 { margin-left: 61.5% !important; }
.offset-8 { margin-left: 70% !important; }
.offset-9 { margin-left: 78.5% !important; }
.offset-10 { margin-left: 87% !important; }
.offset-11 { margin-left: 93.5% !important; }

.offset-1:first-child { margin-left: 8.5% !important; }
.offset-2:first-child { margin-left: 17% !important; }
.offset-3:first-child { margin-left: 25.5% !important; }
.offset-4:first-child { margin-left: 34% !important; }
.offset-5:first-child { margin-left: 42.5% !important; }
.offset-6:first-child { margin-left: 51% !important; }
.offset-7:first-child { margin-left: 59.5% !important; }
.offset-8:first-child { margin-left: 68% !important; }
.offset-9:first-child { margin-left: 76.5% !important; }
.offset-10:first-child { margin-left: 85% !important; }

/*-------------------------------------
- Basic markup
-------------------------------------*/

body {
	background-color: #e5e5e5;
	font-family: arial;
	font-size: 14px;
}

.content {
	margin: 20px auto;
	width: 600px;
	min-height: 300px;
	background-color: #fff;
	box-shadow: 0 0 5px #ccc;
}

.chat {
	border-bottom: 1px solid #ccc;
	height: 270px;
	padding: 10px;
}

.messages .time {
	width: 50px;
}

.content input {
	height: 30px;
	border: none;
	background-color: transparent;
	padding: 5px;
	margin: 0;
	width: 100%;
}